/*===== QMessageBox =====*/
QMessageBox
{
    messagebox-warning-icon: url(./icons/warning.png);
    messagebox-information-icon: url(./icons/info.png);
}

/*===== QToolBar =====*/
QToolBar
{
    spacing: 5px;
}